.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
 /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);*/
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.logo span {
  font-size: 1.5rem;
  font-weight: 1000;
  color: white;
}

/* Hamburger button */
.menu-toggle {
  display: none;
  cursor: pointer;
  z-index: 1100;
  padding: 6px;
  margin-left: auto;
  margin-right: 10vw; /* contrls the position of the haburger/menu button in mobile mode */
}

.menu-toggle img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

/* Nav base style */
nav {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
 /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

/* Desktop nav */
@media screen and (min-width: 768px) {
  nav {
    display: block !important;

  }

  nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right:2vw;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 20px 0;
    font-size: 1.1rem;
   
  }

  nav ul li a:hover {
    color: yellow;               /* New font color on hover */
   text-decoration: underline;  /* Optional: background highlight on hover */
    border-radius: 4px;         /* Optional: smo  */
    
  }


  .menu-toggle {
    display: none;
  }
}

/* Mobile nav */
@media screen and (max-width: 767px) {
  .menu-toggle {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    padding: 20px 0;
  }

  nav.active {
    display: block;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    text-decoration: none; /* Removes underline */
    color: darkslateblue;
    font-weight: 600;
    font-size: 18px;
    display: block;
    padding: 10px 0;
  }

  nav ul li a:hover {
    color: yellow;               /* New font color on hover */
    text-decoration: underline;  /* Optional: background highlight on hover */
    border-radius: 4px;         /* Optional: smo  */
    
  }
}
  /* Padding for body below header */
:host ::ng-deep body,
:host ::ng-deep main,
:host ::ng-deep section {
  padding-top: 70px;
}
